// =============================================================================
// Base16 Hi-Mageria - Night Purple eye-friendly syntax highlighter
// =============================================================================
// Pre-adapted from ChaniVibes + Mageria + Marnetta for Base16 Theme
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// -----------------------------------------------------------------------------
$base00: #1B1A21;
$base01: #25252D;
$base02: #514660;
$base03: #67577A;
$base04: #9C82A5;
$base05: #D0ACD0;
$base06: #E1CEDE;
$base07: #F1F0EC;
$base08: #E64629;
$base09: #FD823E;
$base0A: #F2CF1F;
$base0B: #AAE629;
$base0C: #62DDA4;
$base0D: #1DBAA4;
$base0E: #E683A9;
$base0F: #3078B4;
// -----------------------------------------------------------------------------